<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/CSS/styles.css" />
    <link rel="stylesheet" href="/CSS/normalizecss.css"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  </head>
  <body>
    <!-- NAV BAR -->
    <header>
      <nav class="nav collapsible">
        <a class="nav__brand" href="/"><img src="/images/logo.svg" alt=""></a> 
        <svg class="icon icon--white nav__toggler">
          <use xlink:href="/images/sprite.svg#menu"></use>
      </svg>
      <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="#">Hosting</a></li>
      <li class="nav__item"><a href="#">VPS</a></li>
      <li class="nav__item"><a href="#">Domain</a></li>
      <li class="nav__item"><a href="#">Pricing</a></li>
      
      </ul>
      </nav>
    </header>

    <!-- HEADER -->

    <section class="block block--dark block--skewed-left hero">
      <div class="container grid grid--1x2">
        <header class="block__header hero__content" data-aos="fade-left">
          <h1 class="block__heading">Cloud Hosting for Pros</h1>
          <p class="hero__tagline">
            Deploy your websites in less than 60 seconds
          </p>
          <a href="" class="btn btn--accent btn--stretched">Get Started</a>
        </header>
        <picture data-aos="fade-right">
        <source type="images/webp" 
        srcset="images/banner.webp, images/banner2x.webp, images/banner3x.webp"/>
        
        <source
        type="images/png"
        srcset="images/banner.png, images/banner2x.png, images/banner3x.png"
      />
        
          <img class="hero__image" src="/images/banner.png" alt="" />
        </picture>
      </div>
    </section>

    <!-- SEARCH BAR -->
    <section class="block container block-domain">
      <header class="block__header" data-aos="zoom-left">
        <h2>Starting at $9 per month</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, voluptates?
  
        </p>
      </header>
      <div class="input-group">
        <input type="text" class="input" placeholder="Enter domain name here...">
        <button class="btn btn--accent">
          <svg class="icon icon--primary">
            <use xlink:href="/images/sprite.svg#search"></use>
        </svg>Search</button>
    </div>
      <ul class="list block-domain__prices">
        <list><span class="badge badge--secondary">.com $9</span></list>
        <list>.sg $10</list>
        <list>.space $11</list>
        <list>.info $14</list>
        <list>.net $10</list>
        <list>.xyz $10</list>
      </ul>
    </section>
    <section class="block container block-plans">
      <div class="grid grid--1x3">
        <div class="plan" data-aos="fade-right">
          <div class="card card--secondary">
            <header class="card__header">
              <h3 class="plan__name">Entry</h3>
              <span class="plan__price">$14</span>
              <span class="plan__billing-cycle">/month</span>
              <span class="badge badge--secondary badge--small">10% OFF</span>
              <span class="plan__description">Easy start on the cloud</span>
            </header>
            <div class="card__body">
              <ul class="list list--tick">
                <li class="list__item">Unlimited Websites</li>
                <li class="list__item">Unlmited Bandwidth</li>
                <li class="list__item">100GB SSD Storage</li>
                <li class="list__item">3GB RAM</li>
              </ul>
              <button class="btn btn--outline btn--block">Buy Now</button>
            </div>
          </div>
        </div>
        <div class="plan plan--popular" data-aos="zoom-in">
          <div class="card card--primary">
            <header class="card__header">
              <h3 class="plan__name">Entry</h3>
              <span class="plan__price">$14</span>
              <span class="plan__billing-cycle">/month</span>
              <span class="badge badge--primary badge--small">10% OFF</span>
              <span class="plan__description">Easy start on the cloud</span>
            </header>
            <div class="card__body">
              <ul class="list list--tick">
                <li class="list__item">Unlimited Websites</li>
                <li class="list__item">Unlmited Bandwidth</li>
                <li class="list__item">100GB SSD Storage</li>
                <li class="list__item">3GB RAM</li>
              </ul>
              <button class="btn btn--outline btn--block">Buy Now</button>
            </div>
          </div>
        </div>
        <div class="plan" data-aos="fade-left">
          <div class="card card--secondary">
            <header class="card__header">
              <h3 class="plan__name">Entry</h3>
              <span class="plan__price">$14</span>
              <span class="plan__billing-cycle">/month</span>
              <span class="badge badge--secondary badge--small">10% OFF</span>
              <span class="plan__description">Easy start on the cloud</span>
            </header>
            <div class="card__body">
              <ul class="list list--tick">
                <li class="list__item">Unlimited Websites</li>
                <li class="list__item">Unlmited Bandwidth</li>
                <li class="list__item">100GB SSD Storage</li>
                <li class="list__item">3GB RAM</li>
              </ul>
              <button class="btn btn--outline btn--block">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="/js/main.js"></script>
    
     <!-- FIRST FEATURE -->
 <section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to keep growing</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, sunt.</p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-up-right">
      <span class="icon-container">
        <svg class="icon icon--primary">
            <use xlink:href="/images/sprite2.svg#easy"></use>
        </svg>
    </span>
    <h3 class="feature__heading">Super Easy to use</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas numquam necessitatibus fuga minus quaerat beatae minima hic quo doloremque voluptatem.</p>
    <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture data-aos="flip-left">
      <source 
      type="images/webp" 
      srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source 
      type="images/jpg" 
      srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="/images/easy@2x.jpg" alt="">
    </picture>
  </article>

  <!-- SECOND FEATURE -->
  
  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="flip-right">
      <span class="icon-container">
        <svg class="icon icon--primary">
            <use xlink:href="/images/sprite2.svg#chevron"></use>
        </svg>
    </span>
    <h3 class="feature__heading">Simply Fast Websites</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas numquam necessitatibus fuga minus quaerat beatae minima hic quo doloremque voluptatem.</p>
    <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture data-aos="fade-up-right">
      <source 
      type="images/webp" 
      srcset="images/fast.webp 1x, images/fast@2x.webp 2x"
      />
      <source 
      type="images/jpg" 
      srcset="images/fast.jpg 1x, images/fast@2x.jpg 2x"
      />
      <img class="feature__image" src="/images/fast@2x.jpg" alt="">
    </picture>
  </article>

  <!-- THIRD FEATURE -->
  
  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="zoom-in-right">
      <span class="icon-container">
        <svg class="icon icon--primary">
            <use xlink:href="/images/sprite2.svg#wordpress"></use>
        </svg>
    </span>
    <h3 class="feature__heading">Wordpress Made Easy</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas numquam necessitatibus fuga minus quaerat beatae minima hic quo doloremque voluptatem.</p>
    <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture data-aos="flip-left">
      <source 
      type="images/webp" 
      srcset="images/wordpress.webp 1x, images/wordpress@2x.webp 2x"
      />
      <source 
      type="images/jpg" 
      srcset="images/wordpress.jpg 1x, images/wordpress@2x.jpg 2x"
      />
      <img class="feature__image" src="/images/wordpress@2x.jpg" alt="">
    </picture>
  </article>

</section>

<!-- SHOWCASE -->

<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>User-friendly Control Panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture class="block-showcase__image" data-aos="flip-right">
      <source
        type="images/webp"
        srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x"
      />

      <source
        type="images/png"
        srcset="images/ipad.png 1x, images/ipad@2x.png 2x"
      />

      <img src="/images/ipad.png" alt="Picture of Ipad" />
    </picture>
    <ul class="list">
      <li>
        <div class="media" data-aos="fade-left">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="/images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
              impedit placeat ipsam minima aliquid officiis, quidem enim vel
              dolores mollitia!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media" data-aos="fade-left">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="/images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Staging, Git & WP-CLI</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
              corporis!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media" data-aos="fade-left">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="/images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Dynamic Caching & More</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero,
              corporis!
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- TESTIMONIAL -->





    <script src="/js/main.js"></script>
     <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  </body>

</html>
